html {
    background: url("https://wallpaperaccess.com/full/6231389.jpg") no-repeat
      center fixed;
    background-size: cover;
  }
  
  body {
    background: rgba(230, 230, 250, 0.8);
    width: 500px;
    padding: 50px 100px;
    margin: 25px auto;
    border-radius: 25px;
  }
  
  hr {
    border: 3px solid white;
  }
  
  .center_align {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .right_align {
    text-align: right;
  }
  
  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  
  h2 {
    font-variant: small-caps;
    font-size: 25px;
  }
  
  p {
    font-size: 18px;
  }
  
  button {
    background-color: rgb(77, 141, 237);
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
  
  button:hover {
      background-color: rgb(61, 109, 180);
  }
  
  .output_value {
    font-weight: bold;
  }